* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

img {
  width: 20vw;
  height: 20vh;
}

.title {
  font-weight: bold;
}

.start {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  /*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.game {
  width: 100%;
}

.board {
  width: 90vw;
  height: 45vh;
  margin: 0 auto;
}

.line {
  border-top: medium solid #000000;
}